<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>My Blog - {% block page_title %}An awesome blog{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "blog/base.css" %}">
</head>

<body>
    <!-- The header -->
    <header id="site-header">
        <h1>My Blog</h1>
        <p>A blog about awesomeness</p>
        <img src="{% static "blog/logo.jpg" %}" alt="Logo" id="headerpic">
    </header>

    <!-- Top navigation -->
    <nav id="top-nav">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Posts</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>

    <main id="main-content">
        <div>
            {% block main %}
            <!-- Content for the main block will be rendered here -->
            {% endblock %}
        </div>

        <aside>
            <h2>Topics:</h2>
            <ul>
                {% for topic in all_topics %}
                <li>{{ topic.name }} ({{ topic.blog_posts__count }})</li>
                {% endfor %}
            </ul>
        </aside>

    </main>
    <!-- The footer -->
    <footer id="site-footer">
        <!-- Print copyright with the current year -->
        Copyright &copy;{% now 'Y' %}
    </footer>
</body>

</html>