{# blog/templates/blog/post_detail.html #}
{% extends "blog/base.html" %}
{% block page_title %}{{ post.title }}{% endblock %}

{% block main %}
<article id="post-detail-article">
  <h1>{{ post.title }}</h1>
  <span class="published">Published <time>{{ post.published }}</time></span><br>
  <span class="author">{{ post.author.get_full_name }}</span>
  <span class="topic">
    {% for topic in post.topics.all %}
      <a href="{{ topic.get_absolute_url }}">{{ topic.name }}</a>&nbsp;&nbsp;
    {% endfor %}
  </span>
  <section class="content">{{ post.content|linebreaks }}</section>
</article>
{% endblock %}